# Dependencies
node_modules/

# Firebase
.firebase/
*.log

# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Package lock files (optional, but often included)
package-lock.json
yarn.lock